
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}

#imageLoader {
}

.centerDiv {
    width: 90%;
    height: 70%;
    margin: 0 auto;
}

.div1 {
    width: 50%;
    height: 100%;
    background-color:rgba(173, 221, 144, 0.71);
    float:left;
    vertical-align: middle;
}

canvas {
    width: 100%;
}
.div2 {
    width: 50%;
    height: 100%;
    background-color:#f8f1b8;
    float: right;
}