
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}


.centerDiv {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 5%;
    z-index: 1;
    position: absolute;
    
}

.div1 {
    width: 50%;
    height: 100%;
    background-color:rgba(173, 221, 144, 0.71);
    float:left;
}

canvas {
    width: 100%;
    height: 100%;
}
.div2 {
    width: 50%;
    height: 100%;
    background-color:#f8f1b8;
    float: left;
}
#chart_div {
    width: 100%;
    height: 100%;
}

#curtain {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: absolute;
    z-index:2;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input[type="file"] {
    display: none;
}
#loadButton {
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    height: 23px;
    width: 145px;
    cursor: pointer;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    z-index: 3;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow:hidden;
}