div { color:#FFF;color:#FFF; }
      .stars {
        z-index: 0; position: relative; /* width: 420em; height: 70em; */
        background-image: url( http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png ); 
        background-repeat: repeat-x,repeat-x repeat-y;
        transform:translate3D(0em, 0em, 0); animation: stars 21s ease; transform-style: preserve-3d;
        padding-bottom:250px;
          padding-top: 250px;
      }